* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background: #fff;
   color: #333;
   line-height: 1.6;
}

ul {
   list-style: none;
}

a {
   color: #333;
   text-decoration: none;
}

h1, h2 {
   font-weight: 300;
   line-height: 1.2;
}

p {
   margin: 10px 0;
}

img {
   width: 100%;
}

/* Utilities */

.container{
   max-width: 1280px;
   margin: auto;
   padding: 0 1.5rem;
   overflow: hidden;
}

.btn {
   cursor: pointer;
   display: inline-block;
   padding: 10px 32px;
   color: #fff;
   background-color: darkgoldenrod;
   border: none;
   border-radius: 6px;
}

.btn:hover{
   opacity:0.8;
}


/* Navbar */
.navbar{
   background: orange;
   padding:10px 10px;
}

.navbar .container{
   display:flex;
   justify-content: space-between;
   align-items: center;
}

#navbar img{
   width:200px;
}

.navbar nav ul {
   display:flex;
}

.navbar nav a {
   color: #fff;
   padding: 10px 20px;
   margin: 0 5px;
   font-size:1.3rem;
}

.navbar nav a:hover{
   border-bottom:solid 2.5px white;
}

/* Header Content */
header .content {
   text-align:center;
   background: url(../img/massage-frontpage.jpg) no-repeat center center/cover;
   position:relative;
   height:60vh;
   color:white;
}

header .content h1{
  margin-top:20%;
  font-size:3rem;
}
header .content h2{
   padding:15px;
}

header .content .btn{
   margin-top:10px;
}

/* Main content */
.welcome .container div{
   width:50%;
}

.welcome h2{
   font-size:2.4rem;
}

.welcome .info h2{
   padding:0 0 1rem 0;
   border-bottom:orange solid 1.5px;
}

.welcome .container p{
   margin-top: 1rem;
   font-size:1.2rem;
}

.welcome span a{
   font-weight:bold;
}
.welcome span a:hover{
   color:orange;
}

.welcome .hours{

}

.welcome .container {
   display:flex;
   justify-content:space-between;
}

.welcome .info {
   margin-right:5rem;
   margin-top:2.8rem;
}

.welcome .availability{
   margin-left:5rem;
   margin-top:2.8rem;
   padding:1rem;
   border:solid 2px darkgoldenrod;
   border-radius:5px;
}
.welcome .availability .small{
   font-size:.9rem;
   font-style:italic;
}

.welcome .availability .bigger{
   font-size:1.3rem;
}

.welcome .availability .btn{
   background:none;
   border:solid 1px darkgoldenrod;
   color:darkgoldenrod;
   padding:8px 24px;
}

.welcome .availability .btn:hover{
   background:darkgoldenrod;
   color:#fff;
}


