* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background: #fff;
   color: #333;
   line-height: 1.6;
}

ul {
   list-style: none;
}

a {
   color: #333;
   text-decoration: none;
}

h1, h2 {
   font-weight: 300;
   line-height: 1.2;
}

p {
   margin: 10px 0;
}

img {
   width: 100%;
}

/* Utilities */

.container{
   max-width: 1280px;
   margin: auto;
   padding: 0 1.5rem;
   overflow: hidden;
}

.btn {
   cursor: pointer;
   display: inline-block;
   padding: 10px 32px;
   color: #fff;
   background-color: darkgoldenrod;
   border: none;
   border-radius: 6px;
}

.btn:hover{
   opacity:0.8;
}


/* Navbar */
.navbar{
   background: orange;
   padding:10px 10px;
}

.navbar .container{
   display:flex;
   justify-content: space-between;
   align-items: center;
}

#navbar img{
   width:200px;
}

.navbar nav ul {
   display:flex;
}

.navbar nav a {
   color: #fff;
   padding: 10px 20px;
   margin: 0 5px;
   font-size:1.3rem;
}

.navbar p{
   font-size:1.3rem;
   color:white;
}
.navbar i{
   color:darkgoldenrod;
}

.navbar nav a:hover{
   border-bottom:solid 2.5px white;
}

/* Header Content */
header .content {
   text-align:center;
   background: url(../img/massage-frontpage.jpg) no-repeat center center/cover;
   position:relative;
   height:60vh;
   color:white;
}

header .content h1{
  margin-top:20%;
  font-size:3rem;
}
header .content h2{
   padding:15px;
}

header .content .btn{
   margin-top:10px;
}

/* Main content */
.welcome .container div{
   width:50%;
}

.welcome h2{
   font-size:2.4rem;
}

.welcome .info h2{
   padding:0 0 1rem 0;
   border-bottom:orange solid 1.5px;
}

.welcome .container p{
   margin-top: 1rem;
   font-size:1.2rem;
}

.welcome span a{
   font-weight:bold;
   border-bottom:1px solid orange;
   
}
.welcome span a:hover{
   color:orange;
}


.welcome .container {
   display:flex;
   justify-content:space-between;
}

.welcome .info {
   margin-right:5rem;
   margin-top:2.8rem;
}

.welcome .availability{
   margin-left:5rem;
   margin-top:2.8rem;
   padding:1rem;
   border:solid 2px darkgoldenrod;
   border-radius:5px;
}
.welcome .availability .small{
   font-size:.9rem;
   font-style:italic;
}

.welcome .availability .bigger{
   font-size:1.3rem;
}

.welcome .availability .bolden{
   font-weight:bold;
}

.welcome .availability .btn{
   background:none;
   border:solid 1px darkgoldenrod;
   color:darkgoldenrod;
   padding:8px 24px;
}

.welcome .availability .btn:hover{
   background:darkgoldenrod;
   color:#fff;
}

/* Services */
.services{
   background-color:orange;
   margin-top:3rem;
   margin-bottom:none;
}

.services .blocks{
   display:flex;
   text-align: center;

}

.services .blocks p {
   font-size:1.1rem;
}

.services .blocks h2{
   font-size:1.6rem;
}

.services .blocks div{
   background-color:#F28C28;
   flex:1;
   padding:1.5rem 1rem;
}

.services .blocks #odd{
   background-color:orange;
}

/* Contact Page */

.contact-section .full-span{
   background-color:#fff;
   
}

.contact-section .full-span2{
   background-color:#F28C28;
}


.contact-section .full-span h2{
   font-size:3rem;
   font-family:'Times New Roman', Times, serif;
   font-weight:bold;
   padding:2.8rem 0;
   
}

.contact-section .container {
   display:flex;
}

.contact-section .stacks{
   margin-top:4rem;
}

.contact-section .stacks h2{
   font-family:'Times New Roman', Times, serif;
   font-size:2rem;
   font-weight:bold;
   margin-bottom:1.5rem;
}

.contact-section .stacks p{
   font-size:1.1rem;
   margin-bottom:2.5rem;
}

.contact-setion .appointments{
   width:62%;
   padding-right:2rem;
}

.contact-section .contact {
   width:34%;
   padding-left:2rem;
}

.contact-section .contact iframe{
   width:100%;
}

/* About Page */

.about-section .container{
   display:flex;
}

.about-section .container .about{
   width:50%;
   padding:2rem;
   padding-left:0;

}

.about-section .container img{
   width:50%;
   height:600px;
   padding:2rem;
   padding-right:0;
   border-radius:50%;
}

.about-section .container .about h2{
   font-size:2.3rem;
   font-family:'Times New Roman', Times, serif;

}

.about-section .container .about p{
   margin-top:1.3rem;
   font-size:1.2rem;
}

/* Footer */
footer{
   background:#333;
   color:#fff;
   text-align:center;
   align-items: center;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .contact-info{
   padding:20px;
}

footer .google-location iframe{
   margin-top:2rem;
   margin-bottom:1rem;
   max-width:1280px;
   min-width:400px;
}

/* Mobile */
@media(max-width:768px){

   
   header #navbar .container{
      display:flex;
      flex-direction:column;
   }

   /* Home Page */

   .welcome .container{
      display:flex;
      flex-direction:column;
      align-items: center;
      
   }
   .welcome .container h2{
      text-align:center;
   }

   .welcome .container p{
      text-align:center;
   }

   .welcome .container .info{
      width:100%;
      padding:1.5rem;
      margin:2rem 1.5rem;
   }

   .welcome .availability {
      width:100%;
      text-align:center;
      margin:0;
      padding:2rem;
   }

   .welcome .availability h2{
      font-size:1.5rem;
   
   }

   .services .container{
      width:100%;
      padding:0;
   }

   .services .blocks{
      display:flex;
      flex-direction:column;
      flex:1;
   }

   .services .blocks div{
      width:100%;
      flex:1;
   }

   /* About */
   .about-section .container{
      flex-direction:column-reverse;
   }

   .about-section .container .about{
      width:100%;
      padding:2rem 0;
   
   }

   .about-section .container .about h2{
      text-align:center;
   }
   .about-section .container img{
      width:100%;
      padding:2rem 0;
   }

   /* Contact */

   .contact-section{
      text-align: center;
   }

   .contact-section .full-span{
      display:flex;
      align-items: center;
      justify-content: center;
   }

   .contact-section .full-span2 .contact-container{
      display:flex;
      flex-direction: column-reverse;
   }
   .contact-setion .appointments{
      width:100%;
      padding:0;
   }
   
   .contact-section .contact {
      width:100%;
      padding:0;
      text-align:center;
   }

   /* Footer */
   footer .google-location iframe{
      max-width: 300px;
      min-width:200px;
   }




}
